@use '_variables' as var;
@import '_mixins';
@import 'fonts';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: var.$bg-primary-color;
}

h2 {
    color: var.$primary-color;
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

p {
    color: var.$text-primary-color;
    line-height: 1.8;
    margin: 1.2rem 0;
    font-size: 1.125rem;
}

img {
    max-width: 100%;
    // max-height: 80%;
    object-fit: cover;
}

.btn-wrraper {
    float: right;
}

.btn {
    padding: 1rem 2rem;
    color: var.$text-primary-color;
    font-size: 1.2;
    border: 1px solid var.$text-primary-color;
    width: fit-content;
    float: right;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1.2px;
    font-size: 1.125rem;
    &:hover {
        border: 1px solid var.$text-primary-color;
    }
}

.loading {
    color: var.$text-secondry-color;
}

// navigation bar
header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;

    #toggle {
        display: none;

        @media (max-width: 1120px) {
            display: inline-block;
            background-color: var.$bg-secondry-color;
            color: var.$text-primary-color;
            padding: 1rem;
            border: 1px solid var.$text-primary-color;
        }

    }
    
    nav {
        width: 50%;
        background-color: var.$bg-secondry-color;
        padding: 2.2rem;
        @include flex-center;
        transition: all 0.5s ease-in;
    }

    .active {
        transform: translateX(0);
    }

    .deactive {
        transform: translateX(-100%);
        @media (min-width: 1120px) {
            transform: translateX(0);
        }
    }

    ul {
        display: flex;
        gap: 3rem;

        @media (max-width: 1320px) {
            gap: 2rem;
        }

        @media (max-width: 1120px) {
            flex-direction: column;
        }
    }

    li {
        list-style: none;
        color: var.$text-primary-color;
        transition: color 0.15s ease-in;
        font-size: 1.2rem;
        cursor: pointer;

        &:hover {
            color: var.$primary-color;
        }
    }
}

form {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    margin: 2rem 0;
    color: #fff;

    input, textarea {
        background-color: var.$bg-primary-color;
        border: none;
        border-bottom: 1px solid var.$text-primary-color;
        padding: 1.5rem 0.5rem;
        font-size: 1.125rem;
        color: var.$text-secondry-color;

        &:focus {
            border: none;
        }
    }
}

.contact-bg-img {
    position: relative;
    display: flex;
    align-items: center;

    .map-container {
        position: absolute;
        // top: 0;
    }
}


@media (max-width: 520px) {
   html {
    font-size: 15px;
   }
}