@use "../_variables" as var;

.parallax-container {
    display: flex;
    width: 100%;
    // gap: 3rem;
    @media (max-width: 1120px) {
        flex-direction: column-reverse;
        gap: 3rem;
    }

    .parallax-info-container {
        width: 50%;
        // margin-left: 6rem;
        padding: 0 3rem 0 6rem;
        display: flex;
        flex-direction: column;
        gap: 4rem;
        background-color: var.$bg-primary-color;
        @media (max-width: 1120px) {
            width: 100%;
            z-index: 2;
            padding: 2rem;
        }

        @media (max-width: 520px) {
            padding: 4rem 1rem;
        }
    }
    .parallax-img {
        width: 50%;
        height: 100vh;
        position: sticky;
        top: 0;
        
        @media (max-width: 1120px) {
            z-index: 1;
            // position: static;
            width: 100%;
        }
    }

    .parallax-img img {
        height: 100%;
        width: 100%;
    }

}

.hero-section {
    margin-top: 10rem;
    @media (max-width: 1120px) {
        margin-top: 4rem;
    }
}

.about-container {
    padding: 8rem 2rem !important;

    @media (max-width: 520px) {
        padding: 6rem 1rem;
    }
}

.contact-container {
    padding: 8rem 2rem 0 2rem !important;

    @media (max-width: 520px) {
        padding: 6rem 1rem 0 1rem;
    }
}