.service-info {
    margin-top: 8rem;
}

.services-info {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;

    @media (max-width: 520px) {
        flex-direction: column;
    }
}

.services-info img {
    width: 50px;
    height: 50px;
}