* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* comman tag style */
html {
  font-size: 0.95rem;
  letter-spacing: 1px;
}

li {
  display: block;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

main {
  font-family: "Work Sans", sans-serif;
}


/* Uitility class */
.container {
  max-width: 1280px;
  margin: 0 auto;
}




/* google font style */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


/* header and navbar */
header {
  font-family: Arial, Helvetica, sans-serif;
}

#logo {
  width: 150px;
  height: auto;
}

nav ul {
  display: flex;
  gap: 2rem;
}

nav ul li {
  text-align: center;
  list-style: none;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}


nav ul li a:hover {
  color: #1107A4;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
}

.navIcon {
  width: 20px;
  height: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}


/* hero section */
#hero {
  width: 100%;
  height: calc(100vh - 73px);
  display: flex;
  gap: 3rem;
  align-items: center;
}

#hero > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero-info {
  width: 50%;
  padding-left: 2rem;
}

.hero-info .hero-title {
  font-size: 3rem;
  font-weight: 200;
  color: #333;
  margin-bottom: 1.5rem;
}

.hero-info .hero-title span {
  font-size: 2.2rem;
  font-weight: 500;
}

.hero-info .hero-tagline {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  color: #5e5e5e;
}

.hero-info .hero-coffee-img {
  width: 16%;
}

.hero-img {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-illustration {
  width: 90%;
}

.toggle-btn {
  display: none;
}

/* [END] hero section */

/* founder section */
#founder {
  margin: 3rem auto;
  width: 100%;
  display: flex;
  gap: 4rem;
  justify-content: space-evenly;
  align-items: center;
}

#founder > div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#founder .founder-info {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.founder-img {
  width: 220px;
  height: 220px;
}

.founder-img img{
  width: 100%;
  height: auto;
  border: 5px solid #3F3D56;
  border-radius: 50%;
}

.founder-tagline {
  font-size: 1.4rem;
  color: #333;
}

.founder-detail {
  color: #5a5a5a;
}

/* [END] founder section */


/* media query - small device */
@media (max-width: 768px) {
  /* hero section */
  #hero {
    flex-direction: column;
  }

  .hero-info, .hero-img {
    width: 100%;
  }

  .hero-illustration {
    width: 60%;
  }
}

/* [END] small device */



/* meddium device */
@media (max-width: 900px) {
  html {
    font-size: 14px;
  }

  /* navbar */
  .toggle-btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .toggle-btn:hover, .toggle-btn:focus {
    color: #1107A4;
    font-weight: 700;
  }

  :is(header:hover, header:focus-within) nav {
    display: block;
  }

  nav {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    transform-origin: top center;
    background-color: rgb(238, 238, 238);
    width: 100%;
    animation: showMenu 0.5s ease-in-out forwards;
  }

  @keyframes showMenu {
    0% {
      transform: scaleY(0);
    }
    80% {
      transform: scaleY(1.2);
    }
    100% {
      transform: scaleY(1);
    }
  }

  nav ul li {
    padding: 0 2rem;
  }

  nav ul {
    flex-direction: column;
    display: flex;
    padding: 1rem 0;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  #founder {
    flex-direction: column;
  }
}

/* [END] meddium device */